*.js
!jest.config.js
*.d.ts
*node_modules

# CDK asset staging directory
*.cdk.staging
*cdk.out
*cdk-workshop.code-workspace
*cdk.out
package-lock.json
*.egg-info
*.swp
*.pytest_cache
*__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/